#services {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  transition: all 300ms ease-in;
  .service-bg-title {
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: 150px;
    font-weight: 900;
    opacity: 0.3;
    color: #212121;
    position: absolute;
    bottom: 10%;
    right: 0%;
  }

  .service-container {
    width: 100%;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .service-card {
    min-width: 300px;
    height: 350px;
    margin: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    background: #212121;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.267);
    transition: width 300ms ease;
    .service-title {
      display: block;
      width: 100%;
      padding: 10px;
      text-align: center;
      background: #ff5a5f;
    }
    .service-content {
      width: 100%;
      height: 100%;
      padding: 10px 0px;
      border: 1px solid #ff5a5f;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      ul {
        width: 80%;
        margin: 0 auto;
        padding-bottom: 30px;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #323232;
        li {
          width: 100%;
          padding: 6px 0px;
          text-align: left;
          position: relative;
          font-size: 15px;
        }
        li::before {
          content: "";
          background-image: url("/assets/tick.png");
          background-size: contain;
          background-repeat: no-repeat;
          background-position-y: bottom;
          display: inline-block;
          width: 15px;
          height: 15px;
          margin-right: 5px;
          // z-index: ;
        }
      }
      button {
        margin-top: 30px;
      }
    }
  }
  .service-card:nth-child(2) {
    width: 350px;
    height: 420px;
  }
  .service-card:nth-child(3)::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-top: 20px solid #323232;
    border-left: 20px solid #ff5a5f;
    // width: 1px;
  }
  .service-card:nth-child(1)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-top: 20px solid #323232;
    border-right: 20px solid #ff5a5f;
    // width: 1px;
  }
}
#service1 {
  transform: translateX(-50px);
}
#service2 {
  transform: translateX(50px);
}
